#about {
	text-align: center;
	padding: 50px 0 0;
	color: #000;
	background: url(../images/s.jpg);
		
}

#about > .container {
	max-width: 1000px;
	margin: 0 auto;
}

#about h1 {
	
	font-family: b'Lobster', cursive;
	color: red;
	font-size: bold 40px;
}

#about h2 {
	font: lighter 22px/1.3em sans-serif;
}

/* === === === === === */
/* Action button
/* === === === === === */

#action-button {
	width: 200px;
	margin: 30px auto 0;
}

#action-button > a {
	text-decoration: none;
	display: block;
	width: 100%;
	background: #CD5C5C;
	padding: 15px 15px;
	font: bold 14pt sans-serif;
	border: none;
	border-radius: 10px;
	color: #fff;
}

/* === === === === === */
/* About company
/* === === === === === */

#about-company {
	margin: 100px auto 0;
	text-align: center;
	padding: 100px 30px 1px;
	font: normal 18px/1.3em sans-serif;
	/* background: */
	background-attachment: fixed;
	color: #fff;
}

#about-company > h3 {
	margin: 0;
	font: normal 35px sans-serif;
	text-shadow: 0 0 5px #000;
}

/* === === === === === */
/* About company video
/* === === === === === */

#about-company-video {
	
	max-width: 960px;

	
}

#about-company-video video {
	display: inline-block;
	margin-top: 20px;
	border: 5px solid #000;
}

#about-company-video p {
	margin-top: 60px;
	font-size: 25px;
	line-height: 1.3em;
}

/* === === === === === */
/* About company slug
/* === === === === === */

#about-company-slug {
	margin: 100px auto;
	max-width: 600px;
	text-align: center;
}

#about-company-slug > h3 {
	margin: 50px auto;
	font: normal 40px sans-serif;
}

#about-company-slug > h3,
#about-company-slug > p,
#about-company-slug > label {
	text-align: center;
}

#about-company-slug > div {
	text-align: justify;
}

/* === === === === === */
/* Read more button
/* === === === === === */

input.SReadMoreRadio
{
	display: none;
}

input.SReadMoreRadio + label + div
{
	display: none;
}

input.SReadMoreRadio:checked + label + div
{
	display: block;
	border: 1px solid #fff;
	padding: 20px;
}

 input.SReadMoreRadio + label
{
	text-decoration: underline;
	cursor: pointer;
}

 input.SReadMoreRadio:checked + label
{
	display: none;
}

input.SReadMoreRadio + label + div + input + label
{
	display: none;
	text-decoration: underline;
	cursor: pointer;
}

input.SReadMoreRadio:checked + label + div + input + label
{
	display: block;
}

footer {
	background: linear-gradient(transparent, #000);
}

@media only all and (max-width:500px)  {
    .menu_our-services {
        display: none;
    }
}